<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h2 *ngIf="settingsForm.value.login">
        Einstellungen für Benutzer [<strong>{{ settingsForm.value.login }}</strong
        >]
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>Einstellungen wurden gespeichert!</strong>
      </div>

      <jhi-alert-error></jhi-alert-error>

      <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="settingsForm.value.login" novalidate>
        <div class="mb-3">
          <label class="form-label" for="firstName">Vorname</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Ihr Vorname"
            formControlName="firstName"
            data-cy="firstname"
          />

          <div
            *ngIf="
              settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.required">
              Ihr Vorname wird benötigt.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.minlength">
              Ihr Vorname muss mindestens 1 Zeichen lang sein
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.maxlength">
              Ihr Vorname darf nicht länger als 50 Zeichen sein
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="lastName">Nachname</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="Ihr Nachname"
            formControlName="lastName"
            data-cy="lastname"
          />

          <div
            *ngIf="settingsForm.get('lastName')!.invalid && (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.required">
              Ihr Nachname wird benötigt.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.minlength">
              Ihr Nachname muss mindestens 1 Zeichen lang sein
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.maxlength">
              Ihr Nachname darf nicht länger als 50 Zeichen sein
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="email">Email Adresse</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Ihre Email Adresse"
            formControlName="email"
            data-cy="email"
          />

          <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.required">
              Ihre Email Adresse wird benötigt.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.email"> Ihre Email Adresse ist ungültig. </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.minlength">
              Ihre Email Adresse muss mindestens 5 Zeichen lang sein
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.maxlength">
              Ihre Email Adresse darf nicht länger als 50 Zeichen sein
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" data-cy="submit">Speichern</button>
      </form>
    </div>
  </div>
</div>
