<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8" *ngIf="account$ | async as account">
      <h2>
        Passwort für [<strong>{{ account.login }}</strong
        >]
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>Passwort wurde geändert!</strong>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <strong>Es ist ein Fehler aufgetreten!</strong> Das Passwort konnte nicht geändert werden.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">Das bestätigte Passwort entspricht nicht dem neuen Passwort!</div>

      <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
        <div class="mb-3">
          <label class="form-label" for="currentPassword">Aktuelles Passwort</label>
          <input
            type="password"
            class="form-control"
            id="currentPassword"
            name="currentPassword"
            placeholder="Aktuelles Passwort"
            formControlName="currentPassword"
            data-cy="currentPassword"
          />

          <div
            *ngIf="
              passwordForm.get('currentPassword')!.invalid &&
              (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('currentPassword')?.errors?.required">
              Ein neues Passwort wird benötigt.
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="newPassword">Neues Passwort</label>
          <input
            type="password"
            class="form-control"
            id="newPassword"
            name="newPassword"
            placeholder="Neues Passwort"
            formControlName="newPassword"
            data-cy="newPassword"
          />

          <div
            *ngIf="
              passwordForm.get('newPassword')!.invalid &&
              (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
              Ein neues Passwort wird benötigt.
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
              Das neue Passwort muss mindestens 4 Zeichen lang sein
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
              Das neue Passwort darf nicht länger als 50 Zeichen sein
            </small>
          </div>

          <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
        </div>

        <div class="mb-3">
          <label class="form-label" for="confirmPassword">Neues Passwort bestätigen</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Bestätigen Sie Ihr neues Passwort"
            formControlName="confirmPassword"
            data-cy="confirmPassword"
          />

          <div
            *ngIf="
              passwordForm.get('confirmPassword')!.invalid &&
              (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
              Sie müssen das Passwort bestätigen.
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
              Das bestätigte Passwort muss mindestens 4 Zeichen lang sein
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
              Das bestätigte Passwort darf nicht länger als 50 Zeichen sein
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Speichern</button>
      </form>
    </div>
  </div>
</div>
