<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1>Aktivierung</h1>

      <div class="alert alert-success" *ngIf="success">
        <span><strong>Ihr Benutzer wurde aktiviert.</strong> Bitte </span>
        <a class="alert-link" routerLink="/login">anmelden</a>.
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <strong>Ihr Benutzer konnte nicht aktiviert werden.</strong> Bitte benutzen Sie die Registrierungsmaske, um sich zu registrieren.
      </div>
    </div>
  </div>
</div>
